.rolla{
	margin: 0px !important;
	font-size: 40px !important;
}

.center{
	margin-left: auto;
	margin-right:auto;
}

.normalize{
	display: block;
}

#mfsplayer{
	margin: 100px auto;
	border: 5px solid #28292a;
}

.hl1:hover .fa{
	color: #00a8db;
	font-size: 21em !important;
	-webkit-transition: all 0.2s ease-in-out 0;
	-moz-transition: all 0.2s ease-in-out 0;
	-o-transition: all 0.2s ease-in-out 0;
	transition: all 0.2s ease-in-out 0;
}

.fa{
	-webkit-transition: all 0.2s ease-in-out 0;
	-moz-transition: all 0.2s ease-in-out 0;
	-o-transition: all 0.2s ease-in-out 0;
	transition: all 0.2s ease-in-out 0;
}

.hl2:hover .fa{
	color: #80e8cc;
	font-size: 21em !important;
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
