
.squeeze{
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}

.title{
	font-size: 28px !important;
}

.service-box h2, .service-box div{
	max-width: 100%;
}

.span5 div, .span5 h2, .span5{
	display: table !important;
}

@media (min-width: 1200px){

.span5{
margin-left: 2%;
}

.span5{
	width: 48%;
}

}