@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light.otf');
    font-weight:normal;
    font-style: normal;
	}

body {
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'proximanova', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	}

/* ===========================
   ======= NAV =============== 
   =========================== */

.nav {
	background-color: #00c2a9;
	display:block;
	width: 100%;
	height: 100px;
	position:fixed;
	z-index:3;
}

/* ===========================
   ======= BANNER ============ 
   =========================== */

.banner {
	background-image: url('../img/banner.jpg');
	background-attachment: fixed;
	opacity:0.8;
	background-size: 100%;
	display:block;
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
}

.banneroverlay{
	background-color: #000;
	opacity: 0.8;
	background-size: 100%;
	display:block;
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
}


.bannerlogo {

}


/* ===========================
   ======= STORE ============= 
   =========================== */

.store {
	background-color: #FFF;
	display:block;
	width: 100%;
	height: 700px;
	position: relative;
}

.storetitle{
	font-family: 'proximanova-light', sans-serif;
	color: #444;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;   
	z-index: 1;
	font-size:50px;
	top:75px;
}

.storeborder{
	margin: 0 auto;
	width:1130px;
	height:383px;
	display: block;
	position: relative;
	margin-top: 140px;
}


.storeleft{
	display: block;
	width:715px;
	height:100%;
	position: relative;
	float: left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #00c2a9;

}

.mfs{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}



.storeright{
	display: block;
	width:400px;
	height:100%;
	margin-left:1%;
	position: relative;
	float: left;

}

.right1{
	display: block;
	width:100%;
	height:55%;
	margin-left:1%;
	position: relative;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:13px;
	border:1px solid #00c2a9;

}

.right1title{
	font-family: 'proximanova-light', sans-serif;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;   
	z-index: 1;
	font-size:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.right1text{
	font-family: 'proximanova-light', sans-serif;
	font-weight:300;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;   
	z-index: 1;
	font-size:16px;
	width:90%;
	margin: 0 auto;
}


.right2{
	display: block;
	width:100%;
	height:72px;
	margin-left:1%;
	position: relative;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:13px;
	border:1px solid #00c2a9;
	background-color: #00c2a9;
}

.right2text{
	font-family: 'proximanova-light', sans-serif;
	font-weight:300;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 72px;   
	z-index: 1;
	font-size:16px;
	width:90%;
	margin: 0 auto;
	color: white;
}

.right3{
	display: block;
	width:100%;
	height:72px;
	margin-left:1%;
	position: absolute;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #00c2a9;
	background-color: #00c2a9;
}	

.right3text{
	font-family: 'proximanova-light', sans-serif;
	font-weight:300;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 72px;   
	z-index: 1;
	font-size:16px;
	width:90%;
	margin: 0 auto;
	color: white;
}



/* ===========================
   ======= MAIL ============== 
   =========================== */

.mail {
	background-image: url('../img/banner.jpg');
	background-attachment: fixed;
	background-size: 100%;
	display:block;
	width: 100%;
	height: 358px;
	position: relative;
}

.mailoverlay {
	background-color: #00c2a9;
	opacity:0.7;
	display:block;
	width: 100%;
	height: 358px;
	position: relative;
}

.mailtitle{
	font-family: 'Oxygen', sans-serif;
	color:#FFF;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	top:50px;
	font-size: 40px;
}

.mailtext1{
	font-family: 'Oxygen', sans-serif;
	color:#FFF;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	top:50px;
	font-size: 20px;
}

/* ===========================
   ======= LICENSE ===========
   =========================== */

.license {
	background-color: #f8f8f8;
	display:block;
	width: 100%;
	height: 650px;
	position: relative;
}

.licensetitle{
	font-family: 'proximanova-light', sans-serif;
	color:#444;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	z-index: 1;
	font-size:50px;
	top:75px;
}

.licenseborder{
	margin: 0 auto;
	width:1130px;
	height:380px;
	display: block;
	position: relative;
	top:125px;
}

.license1{
	margin: 0 auto;
	width:24%;
	height:90%;
	display: block;
	position: relative;
	background-color: #FFF;
	float:left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:1%;
	border:1px solid #999;
	margin-left:-1px;
}

.license2{
	margin: 0 auto;
	width:24%;
	height:90%;
	display: block;
	position: relative;
	background-color: #FFF;
	float:left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:1%;
	border:1px solid #999;
	margin-left:-1px;
}

.license3{
	margin: 0 auto;
	width:24%;
	height:96%;
	display: block;
	position: relative;
	background-color: #00c2a9;
	float:left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left:-1px;
	z-index:2;
}


.license4{
	margin: 0 auto;
	width:24%;
	height:90%;
	display: block;
	position: relative;
	background-color: #FFF;
	float:left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:1%;
	border:1px solid #999;
	margin-left:-1px;
	z-index: 1;
}








/* ===========================
   ======= QOUTE =============
   =========================== */
.qoute {
	background-image: url('../img/banner.jpg');
	background-attachment: fixed;
	background-size: 100%;
	display:block;
	width: 100%;
	height: 220px;
	position: relative;
}

.qouteoverlay {
	background-color: #00c2a9;
	opacity:0.7;
	display:block;
	width: 100%;
	height: 358px;
	position: relative;
	z-index:1;
}

.qoutetitle{
	font-family: 'proximanova-light', sans-serif;
	color: #FFF;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	z-index: 1;
	font-size:40px;
	top:100px;
	z-index:2;
}

/* ===========================
   ======= ABOUT =============
   =========================== */

.about {
	background-color: #FFF;
	display:block;
	width: 100%;
	height: 600px;
	position: relative;
}

.abouttitle{
	font-family: 'proximanova-light', sans-serif;
	color:#444;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	z-index: 1;
	font-size:50px;
	top:100px;
}


/* ===========================
   ======= SOCIAL ============
   =========================== */

.social {
	background-color: #222;
	display:block;
	width: 100%;
	height: 200px;
	position: relative;
}

.socialtitle{
	font-family: 'Oxygen', sans-serif;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 49px;   
	z-index: 1;
	top:50px;
}

/* ===========================
   ======= FOOTER ============
   =========================== */

.footer {
	background-color: #111;
	display:block;
	width: 100%;
	height: 200px;
	position: relative;
}
